<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
<div class="login-container pastel-card">
    <h2 class="titulo"> Login </h2>
    <form method="POST" class="formulario">
        <input type="text" name="username" placeholder="Usuario" required>
        <input type="password" name="password" placeholder="Contraseña" required>

        <button type="submit" class="btn pastel" style="width: 100%;">Entrar</button>
    </form>
    {% if error %}
    <p class="error">{{ error }}</p>
    {% endif %}
</div>

</body>
</html>
